<section class="comment-section">
  <h1>Comment Page</h1>
  <form action="/forum/comment" method="POST" class="d-flex flex-column justify-content-between">

    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="comment-floating-input" placeholder="Comment Title" name="title">
      <label for="comment-floating-input">Title</label>
    </div>

    <div class="form-floating mb-5">
      <textarea class="form-control" placeholder="Leave a comment here" id="comment-floating-textarea" name="comment"></textarea>
      <label for="comment-floating-textarea">Comment</label>
    </div>

    <button type="submit" class="btn btn-primary">Comment</button>
    <a href="/" class="btn btn-secondary mt-1">Back</a>
  </form>
</section>